<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head.ejs', {title: title}); %>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>
<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100" style="width: 100%">
            <div class="card-body">
                <!-- Logo -->
                <div class="m-auto auth-brand text-center text-lg-left">
                    <a href="/auth/login" class="logo-dark">
                        <span><img src="/images/logo-dark.png" alt="" height="18"/></span>
                    </a>
                    <a href="/auth/login" class="logo-light">
                        <span><img src="/images/logo.png" alt="" height="18"/></span>
                    </a>
                </div>

                <!-- title-->
                <h4 class="mt-0">Reset Password</h4>
                <p class="text-muted mb-4">Change your default password to activate your account.</p>

                <!-- form -->
                <form id="resetPassForm"
                <% if (account) { %>
                      account-id="<%= account %>"
                        <% } %>
                >
                    <div class="form-group">
                        <label for="newPass">New Password</label>
                        <div class="input-group input-group-merge">
                            <input
                                    name="newPass"
                                    class="form-control"
                                    type="password"
                                    required
                                    id="newPass"
                                    placeholder="Enter new password"
                            />
                            <div class="input-group-append" data-password="false">
                                <div class="input-group-text">
                                    <span class="password-eye"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPass">Confirm password</label>
                        <div class="input-group input-group-merge">
                            <input
                                    class="form-control"
                                    type="password"
                                    required
                                    id="confirmPass"
                                    name="confirmPass"
                                    placeholder="Enter confirm password"
                            />
                            <div class="input-group-append" data-password="false">
                                <div class="input-group-text">
                                    <span class="password-eye"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="error-message mb-2"></div>

                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-primary btn-block button-reset">
                            <i class="mdi mdi-login"></i> Change Password
                        </button>
                    </div>
                </form>
                <!-- end form-->

                <!-- Footer-->
                <footer class="footer footer-alt">
                    <p class="text-muted">
                        Don't have an account?
                        <a href="pages-register-2.html" class="text-muted ml-1"><b>Sign Up</b></a>
                    </p>
                </footer>
            </div>
            <!-- end .card-body -->
        </div>
        <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <!-- <div class="auth-fluid-right text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3">I love the color!</h2>
            <p class="lead">
                <i class="mdi mdi-format-quote-open"></i> It's a elegent templete. I love it very much! .
                <i class="mdi mdi-format-quote-close"></i>
            </p>
            <p>- Hyper Admin User</p>
        </div>
    </div> -->
    <!-- end Auth fluid right content -->
</div>
<!-- end auth-fluid-->

<!-- bundle -->
<script src="/js/vendor.min.js"></script>
<script src="/js/app.min.js"></script>
<script>
    const resetPassForm = $('#resetPassForm');
    const buttonReset = $(resetPassForm).find('.button-reset');
    const error = $(resetPassForm).find('.error-message');

    buttonReset.click(function (e) {
        e.preventDefault();

        const newPass = $(resetPassForm).find('#newPass').val().trim();
        const confirmPass = $(resetPassForm).find('#confirmPass').val().trim();
        const id = $(resetPassForm).attr('account-id');
        console.log(id, newPass, confirmPass);

        if (newPass !== confirmPass) {
            error.html(`<div class="alert alert-danger" role="alert">
                            Passwords do not match!
                        </div>`);
            return;
        }

        $.ajax({
            url: '/api/auth/reset-password/' + id,
            method: 'POST',
            data: {
                newPassword: newPass,
                confirmPassword: confirmPass
            },
            success: function (data) {
                console.log(data);
                if (data.status === 'success') {
                    error.html(`<div class="alert alert-success" role="alert">
                            ${data.message}
                        </div>`);
                    setTimeout(() => {
                        window.location.href = '/auth/login';
                    }, 2000)
                } else {
                    error.html(`<div class="alert alert-danger" role="alert">
                            ${data.message}
                        </div>`);
                }
            },
            error: function (err) {
                console.log(err);
                error.html(`<div class="alert alert-danger" role="alert">
                            ${err.responseJSON.message}
                        </div>`);
            }
        })

    })

</script>
</body>
</html>
